<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {{> header}}
  </head>
  <body>
    <main class="main home">
      <div class="container">
        <figure class="home-avatar">
          <img src="https://pbs.twimg.com/profile_images/3203187646/d2d8b7261c89ff4111597ef8624a4ec9.jpeg" alt="Avatar">
        </figure>

        <h1 class="home-title">
          Hello there, my name is Luke Ship.
        </h1>

        <p class="home-introduction">
          I’m a <strong>Tech Recruiter</strong> spending my time growing an amazing team.
          <br>
          Our aim is to shape the <strong>future of digital learning</strong> at <a href="http://www.codeatuni.com/">Code at Uni</a>.
        </p>
      </div>
    </main>

    {{> footer}}
  </body>
</html>